@media (min-width: 320px) and (max-width: 767px) {
    .Footer-box {
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
    }
    
    .Footer-query-section {
        display: flex;
        flex-direction: row;
        padding: 25px 10px;
        word-break: break-word;;
    }

    .Footer-query-section-logo {
        height: 140px;
        width: 140px;
    }

    .Footer-query-section__info {
        padding: 0 0 0 10px;
    }
    
    .Footer-query-section__content {
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.4px;
        color: #424242;
        opacity: 1;
        margin-bottom: 35px;
    }
    
    .Footer-query-section__writeToUs {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
    }
    
    .Footer-query-section__mail {
        margin-bottom: 50px;
    }
    
    .Footer-query-section__mail span {
        text-align: left;
        text-decoration: underline;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
    }
    
    .Footer-query-section__callUs {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .Footer-query-section__phoneNumber {
        text-align: left;
        font-style: Regular;
        font-size: 22px;
        font-family: Poppins;
        letter-spacing: 0.9px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .Footer-query-content {
        padding: 25px;
    }
    
    .Footer-query-content__subscribe {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        border-top: 1px solid #ffffff   ;
        border-bottom: 1px solid #ffffff;
    }
    
    .Footer-query-content__subscribe p {
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: bolder;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.3px;
        color: #424242;
        opacity: 1;
        margin-bottom: 10px;
    }
    
    .Footer-query-content__subscribe input {
        background: #fafafa 0% 0% no-repeat padding-box;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-style: none;
        opacity: 1;
        padding: 15px 15px 15px 15px;
        outline: none;
    }

    .Footer-query-content__label {
        display: flex;
        justify-content: center;
    }

    .Footer-query-content__input-button {
        display: flex;
        justify-content: center;
    }
    
    .Footer-query-content__input-button button {
        background: #db2c36 0% 0% no-repeat padding-box;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-style: none;
        padding: 14px 10px 15px 10px;
        outline: none;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #ffffff;
        opacity: 1;
    }
    
    .Footer-query-content__links {
        display: flex;
        flex-direction: column;
    }

    .Footer-query-content__links-list {
        padding: 50px 0;
    }
    
    .Footer-query-content__links-header,
    .Footer-query-content__download-header,
    .Footer-query-content__paySecurely-header {
        display: flex;
        justify-content: center;
        text-align: left;
        font-weight: bolder;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.3px;
        color: #424242;
        opacity: 1;
        margin-bottom: 25px;
    }
    
    .Footer-query-content__links-list li {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-bottom: 25px;    
    }
    
    .Footer-query-content__link {
        text-decoration: none;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.2px;
        color: #424242;
        opacity: 1;
    }

    .Footer-query-content__download {
        display: none;
    }
    
    .Footer-query-content__download-store {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff 0% 0% no-repeat padding-box;
        margin: 10px auto;
        width: 120px;
        opacity: 1;
        border-radius: 6px;
    }

    .Footer-query-content__paySecurely {
        padding: 50px 0;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    
    .Footer-query-content__paySecurely-gateways {
        display: grid;
        grid-template-columns: 6fr 6fr;
        row-gap: 40px;
    }
    
    .Footer-query-content__paySecurely-gateways li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Footer-query-content__paySecurely-gateways > li > a > img {
        width: 60px;
    }
    
    .Footer-social {
        display: flex;
        justify-content: center;
        padding: 25px 0 50px 0;
        background-color: #eeeeee;
    }
    
    .Footer-social__icons {
        display: flex;
    }
    
    .Footer-social__icons i {
        color: #757575;
        margin-right: 20px;
        font-size: 1.7em;
    }

    .Footer-social__links {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Footer-box {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 4fr 8fr; */
        background-color: #eeeeee;
    }
    
    .Footer-query-section {
        display: flex;
        flex-direction: row;
        padding: 25px;
    }

    .Footer-query-section-logo {
        height: 160px;
        width: 160px;
    }

    .Footer-query-section__info {
        padding: 0 15px;
    }
    
    .Footer-query-section__content {
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.4px;
        color: #424242;
        opacity: 1;
        margin-bottom: 35px;
    }
    
    .Footer-query-section__writeToUs {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
    }
    
    .Footer-query-section__mail {
        margin-bottom: 50px;
    }
    
    .Footer-query-section__mail span {
        text-align: left;
        text-decoration: underline;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
    }
    
    .Footer-query-section__callUs {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .Footer-query-section__phoneNumber {
        text-align: left;
        font-style: Regular;
        font-size: 22px;
        font-family: Poppins;
        letter-spacing: 0.9px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .Footer-query-content {
        padding: 25px;
    }
    
    .Footer-query-content__subscribe {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        border-top: 1px solid #ffffff   ;
        border-bottom: 1px solid #ffffff;
    }
    
    .Footer-query-content__subscribe p {
        display: flex;
        align-items: center;
        text-align: left;
        font-weight: bolder;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.3px;
        color: #424242;
        opacity: 1;
        margin-bottom: 10px;
    }
    
    .Footer-query-content__subscribe input {
        background: #fafafa 0% 0% no-repeat padding-box;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-style: none;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        outline: none;
    }

    .Footer-query-content__label {
        display: flex;
        justify-content: center;
    }

    .Footer-query-content__input-button {
        display: flex;
        justify-content: center;
    }
    
    .Footer-query-content__input-button button {
        background: #db2c36 0% 0% no-repeat padding-box;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-style: none;
        padding: 14px 25px 15px 25px;
        outline: none;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #ffffff;
        opacity: 1;
    }
    
    .Footer-query-content__links {
        display: flex;
        flex-direction: column;
    }

    .Footer-query-content__links-list {
        padding: 50px 0;
    }
    
    .Footer-query-content__links-header,
    .Footer-query-content__download-header,
    .Footer-query-content__paySecurely-header {
        display: flex;
        justify-content: center;
        text-align: left;
        font-weight: bolder;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.3px;
        color: #424242;
        opacity: 1;
        margin-bottom: 25px;
    }
    
    .Footer-query-content__links-list li {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-bottom: 25px;    
    }
    
    .Footer-query-content__link {
        text-decoration: none;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.2px;
        color: #424242;
        opacity: 1;
    }

    .Footer-query-content__download {
        display: none;
    }
    
    .Footer-query-content__download-store {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff 0% 0% no-repeat padding-box;
        margin: 10px auto;
        width: 120px;
        opacity: 1;
        border-radius: 6px;
    }

    .Footer-query-content__paySecurely {
        padding: 50px 0;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    
    .Footer-query-content__paySecurely-gateways {
        display: grid;
        grid-template-columns: 6fr 6fr;
        row-gap: 40px;
    }
    
    .Footer-query-content__paySecurely-gateways li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Footer-query-content__paySecurely-gateways > li > a > img {
        width: 60px;
    }
    
    .Footer-social {
        display: flex;
        justify-content: center;
        padding: 25px 0 50px 0;
        background-color: #eeeeee;
    }
    
    .Footer-social__icons {
        display: flex;
    }
    
    .Footer-social__icons i {
        color: #757575;
        margin-right: 20px;
        font-size: 1.7em;
    }
    
    .Footer-social__links {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 4000px) {
    .Footer-box {
        display: grid;
        grid-template-columns: 4fr 8fr;
        background-color: #eeeeee;
    }
    
    .Footer-query-section {
        padding: 50px 0 50px 75px;
    }

    .Footer-query-content__download-store-mobile {
        display: none;
    }
    
    .Footer-query-section__content {
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.4px;
        color: #424242;
        opacity: 1;
        margin-bottom: 35px;
    }
    
    .Footer-query-section__writeToUs {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
    }
    
    .Footer-query-section__mail {
        margin-bottom: 50px;
    }
    
    .Footer-query-section__mail span {
        text-align: left;
        text-decoration: underline;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
    }
    
    .Footer-query-section__callUs {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .Footer-query-section__phoneNumber {
        text-align: left;
        font-style: Regular;
        font-size: 35px;
        font-family: Poppins;
        letter-spacing: 0.9px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .Footer-query-content {
        padding: 50px 50px 50px 25px;
    }
    
    .Footer-query-content__subscribe {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    
    .Footer-query-content__subscribe p {
        text-align: left;
        font-weight: bolder;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.3px;
        color: #424242;
        opacity: 1;
        margin-bottom: 10px;
    }
    
    .Footer-query-content__subscribe input {
        background: #fafafa 0% 0% no-repeat padding-box;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-style: none;
        opacity: 1;
        padding: 16px 56px 15px 56px;
        outline: none;
    }
    
    .Footer-query-content__input-button button {
        background: #db2c36 0% 0% no-repeat padding-box;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-style: none;
        padding: 14px 25px 15px 25px;
        outline: none;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #ffffff;
        opacity: 1;
    }
    
    .Footer-query-content__links {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
    }
    
    .Footer-query-content__links-header,
    .Footer-query-content__download-header,
    .Footer-query-content__paySecurely-header {
        text-align: left;
        font-weight: bolder;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.3px;
        color: #424242;
        opacity: 1;
        margin-bottom: 25px;
    }
    
    .Footer-query-content__links-list li {
        list-style-type: none;
        margin-bottom: 25px;    
    }
    
    .Footer-query-content__link {
        text-decoration: none;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 1.2px;
        color: #424242;
        opacity: 1;
    }
    
    .Footer-query-content__download {
        display: flex;
        flex-direction: column;
    }
    
    .Footer-query-content__download img {
        background: #ffffff 0% 0% no-repeat padding-box;
        margin-bottom: 20px;
        width: 144px;
        opacity: 1;
        border-radius: 6px;
    }
    
    .Footer-query-content__paySecurely-gateways {
        display: grid;
        grid-template-columns: 6fr 6fr;
        row-gap: 40px;
    }
    
    .Footer-query-content__paySecurely-gateways li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
    }
    
    .Footer-query-content__paySecurely-gateways > li > a > img {
        width: 60px;
    }
    
    .Footer-social {
        display: grid;
        grid-template-columns: 6fr 6fr;
        background-color: #eeeeee;
    }
    
    .Footer-social__icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 50px 50px 75px;
    }
    
    .Footer-social__icons i {
        color: #757575;
        margin-right: 20px;
        font-size: 1.7em;
    }
    
    .Footer-social__links {
        display: flex;
        justify-content: flex-end;
        padding: 0px 50px 50px;
    }
    
    .Footer-social__links li {
        display: block;
        list-style-type: none;
        padding: 10px 50px;
    }
    
    .Footer-social__link {
        text-decoration: none;
        color: #424242;
        font-weight: bold;
        font-size: 16px;
        font-family: Montserrat;
        text-align: left;
        padding: 0 20px;
        border-right: 1px solid lightgray;
    }
    
    .Footer-social__link:last-child {
        border: none;
    }    
}
