.PopularProducts-container {
    display: flex;
    flex-direction: column;
}

.PopularProducts-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PopularProducts-items {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    column-gap: 25px;
    padding: 50px; 
}

.PopularProducts-item-image {
    width: auto;
    height: 150px;
}

.PopularProducts-item-price {
    display: flex;
    flex-direction: row;
}

.PopularProducts-technologies {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
}

.PopularProducts-technologies__image {
    background-image: url("../../../assets/HomeComponentAssets/popularProductsSideImage/popularProductsSideImageS.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.PopularProducts-technologies__quality {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #bd2c36;
    width: 150px;
    height: 80px;
}

.PopularProducts-technologies__content {
    background-color: #fff8e1;
    padding: 50px;
}

.PopularProducts-technologies__title {
    text-align: left;
    font-style: Italic;
    font-size: 32px;
    font-family: Brush Script MT;
    letter-spacing: 0px;
    color: #BD2C36;
    opacity: 1;
}

.PopularProducts-technologies__sub-title {
    text-align: left;
    font-style: SemiBold;
    font-size: 32px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
}

.PopularProducts-technologies__concepts {
    display: flex;
}

.PopularProducts-technologies__description {
    text-align: left;
    font: SemiBold 70px/84px Montserrat;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
}

.PopularProducts-technologies__button {
    background: #8D6E63 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
}