.Header {
    background-image: url("../../../assets/HomeComponentAssets/freshmeatBanner/freshmeatBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.Header-icons {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    align-items: center;
}

.Header-icons__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}

.Header-icons__social-label {
    color: white;
    font-size: larger;
    font-weight: bold;
}

.Header-icons__social span {
    display: flex;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.Header-icons__social-link {
    margin: 0 10px;
}

.Header-icons__social-link i {
    color: white;
}

.Header-icons__main {
    display: flex;
    justify-content: center;
}

.Header-icons__site {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.Header-icons__site-link {
    margin: 0 15px;
}

.Header-icons__site-link i {
    color: white;
}

.Header-content {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.Header-content__left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.Header-content__left-icon span {
    display: inline-block;
    position: relative;
    background-color: Transparent;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 15px;
}

.Header-content__left-icon > span > i {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Header-content__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header-content__info .title {
    color: #4CAF50;
    font-family: Brush Script MT;
    font-size: 70px;
    text-align: left;
    font-style: italic;
    margin: 45px 0 10px 0;
}

.Header-content__info .header {
    color: #ffffff;
    font-size: 90px;
    text-align: left;
    font-weight: semibold;
    font-family: Montserrat;
    margin: 0 0 10px 0;
}

.Header-content__info .description {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    text-align: center;
    margin: 0 0 45px 0;
}

.Header-content__right-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.Header-content__right-icon span {
    display: inline-block;
    position: relative;
    background-color: Transparent;
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 15px;
}

.Header-content__right-icon > span > i {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Header-readmore__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 100px 0;
}

.Header-readmore__button button {
    background-color: red;
    border: 0;
    border-radius: 16px;
    color: #ffffff;
    font-family: Montserrat;
    font-style: regular;
    font-size: 22px;
    text-align: center;
    padding: 10px 40px;
    outline: none;
}
