.Navigation-container ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 10px 0 50px 0;
}

.Navigation-menu__item {
    position: relative;
}

.Navigation-menu__item-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    margin-right: 50px;
    text-decoration: none;
}

.Navigation-menu__item:last-child > .Navigation-menu__item-link {
    margin-right: 0;
}

.Navigation-menu__item-link button {
    color: white;
    border: none;
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

.Navigation-menu__products-dropdown {
    display: none;
}

.Navigation-menu__products-dropdown:hover {
    display: inline-block;
    position: absolute; 
}