.AboutUs-container__top {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
}

.AboutUs-content {
    padding: 50px;
}

.AboutUs-content__title {
    text-align: left;
    font-style: Italic;
    font-size: 42px;
    font-family: Brush Script MT;
    letter-spacing: 0px;
    color: #BD2C36;
    opacity: 1;
}

.AboutUs-content__sub-title {
    text-align: left;
    font-style: SemiBold;
    font-size: 32px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
}

.AboutUs-content__description {
    text-align: left;
    font-style: Regular;
    font-size: 16px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.AboutUs-content__phone {
    text-align: left;
    font-style: Regular;
    font-size: 16px;
    font-family: Poppins;
    letter-spacing: 0.65px;
    color: #BD2C36;
    opacity: 1;
}

.AboutUs-content__download {
    text-align: left;
    font-style: Regular;
    font-size: 16px;
    font-family: Poppins;
    letter-spacing: 0.54px;
    color: #BD2C36;
    opacity: 1;
}

.AboutUs-content__read-more {
    color: #ffffff;
    background: #BD2C36 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
    border: 0;
}

.AboutUs-image {
    background-image: url("../../../assets/HomeComponentAssets/aboutUsSideImage/aboutUsSideImageS.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.AboutUs-banner {
    background-image: url("../../../assets/HomeComponentAssets/goatAndLamb/goatAndLambL.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;
}

.AboutUs-banner__items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.AboutUs-info {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    position: relative;
}

.AboutUs-data {
    padding: 50px;
    text-align: left;
    letter-spacing: 0.65px;
    opacity: 1;
}

.AboutUs-analytics__items {
    display: flex;
    background-color: #BD2C36;
    padding: 60px;
    position: relative;
    top: -50px;
}