.AboutUs-container__top {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
}

.AboutUs-content {
    padding: 50px 50px 100px 75px;
}

.AboutUs-content__title {
    text-align: left;
    font-style: Italic;
    font-size: 42px;
    font-family: Brush Script MT, sans-serif;
    letter-spacing: 0px;
    color: #bd2c36;
    opacity: 1;
}

.AboutUs-content__sub-title {
    text-align: left;
    font-weight: bold;
    font-size: 44px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
}

.AboutUs-content__description {
    text-align: left;
    font-style: Regular;
    font-size: 20px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 50px;
}

.AboutUs-content__phone {
    display: grid;
    grid-template-columns: 1fr 5fr;
    color: #bd2c36;
    opacity: 1;
    margin-bottom: 25px;
}

.AboutUs-content__phone i {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.AboutUs-content__phone p {
    text-align: left;
    font-style: Regular;
    font-size: 20px;
    font-family: Poppins;
    letter-spacing: 0.65px;
}

.AboutUs-content__download {
    display: grid;
    grid-template-columns: 1fr 5fr;
    color: #bd2c36;
    opacity: 1;
    margin-bottom: 50px;
}

.AboutUs-content__download i {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.AboutUs-content__download p {
    text-align: left;
    font-style: Regular;
    font-size: 20px;
    font-family: Poppins;
    letter-spacing: 0.54px;
}

.AboutUs-content__read-more {
    color: #ffffff;
    background: #bd2c36 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
    border: 0;
    padding: 10px 40px;
}

.AboutUs-image {
    background-image: url("../../../assets/HomeComponentAssets/aboutUsSideImage/aboutUsSideImageS.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.AboutUs-banner {
    background-image: url("../../../assets/HomeComponentAssets/goatAndLamb/goatAndLambL.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    position: relative;
}

.AboutUs-banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(50%);
}

.AboutUs-banner__items {
    display: grid;
    grid-template-columns: repeat(4,3fr);
    padding: 100px 100px;
    column-gap: 100px;
}

.AboutUs-banner__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutUs-banner__item p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Montserrat;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 1;
}

.AboutUs-info {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    position: relative;
}

.AboutUs-data {
    padding: 25px;
    text-align: left;
    letter-spacing: 0.65px;
    opacity: 1;
}

.AboutUs-description {
    text-align: left;
    font-weight: Medium;
    font-size: 22px;
    font-family: Montserrat;
    letter-spacing: 0.65px;
    opacity: 1;
}

.AboutUs-description span {
    text-align: left;
    font-weight: Medium;
    font-size: 22px;
    font-family: Montserrat;
    letter-spacing: 0.65px;
    color: #bd2c36;
}

.AboutUs-analytics {
    background-color: #bd2c36;
}

.AboutUs-analytics__items {
    display: flex;
    background-color: #BD2C36;
    padding: 50px;
    position: relative;
    top: -50px;
}

.AboutUs-analytics__item {
    margin: 0px 50px;
}

.AboutUs-analytics__item:last-child {
    margin-left: 0;
}

.AboutUs-analytics__item-quantity {
    display: flex;
    align-items: flex-start;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    font-family: Montserrat;
    letter-spacing: 1.44px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
}

.AboutUs-analytics__item-description {
    text-align: left;
    font-weight: SemiBold;
    font-size: 20px;
    font-family: Montserrat;
    letter-spacing: 0.54px;
    color: #FFFF8D;
    opacity: 1;
    margin: 0;
}

.AboutUs-content__read-more {
    outline: none;
    text-align: center;
    font-weight: SemiBold;
    font-size: 16px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
