@media (min-width: 1025px) and (max-width: 3000px) {
    .OrderSummary-notification {
        display: grid;
        grid-template-columns: 8fr 4fr;
        border-bottom: 25px solid #f5f5f5;
    }

    .OrderSummary-notification__message {
        border-right: 1px solid #f5f5f5;
        padding: 25px;
    }
    
    .OrderSummary-notification__orderStatus {
        text-align: left;
        font-weight: 900;
        font-size: 32px;
        font-family: Montserrat;
        letter-spacing: 0.9px;
        color: #bd2c36;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-notification__amountStatus {
        text-align: left;
        font-weight: Medium;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-notification__deliveryStatus {
        text-align: left;
        font-weight: Medium;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-notification__amountStatus > span,
    .OrderSummary-notification__deliveryStatus > span {
        text-align: left;
        font-weight: Bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #424242;
    }

    .OrderSummary-notification__contact {
        padding: 25px;
    }
    
    .OrderSummary-notification__helpTitle {
        text-align: left;
        font-weight: Medium;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #000000;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-notification__helpDescription {
        text-align: left;
        font-weight: Medium;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #000000;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-notification__helpContact {
        text-align: left;
        font-weight: Medium;
        font-size: 42px;
        font-family: Poppins;
        letter-spacing: 0.9px;
        color: #bd2c36;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-shoppingCart {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-gap: 50px;
        border-bottom: 25px solid #f5f5f5;
    }
    
    .OrderSummary-shoppingCart__activeCart,
    .OrderSummary-shoppingCart__userAccess,
    .OrderSummary-shoppingCart__userPayment {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .OrderSummary-shoppingCart__activeCart {
        border-right: 1px solid #f5f5f5;
    }
    
    .OrderSummary-shoppingCart__activeCart-image,
    .OrderSummary-shoppingCart__userAccess-image,
    .OrderSummary-shoppingCart__userPayment-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .OrderSummary-shoppingCart__activeCart-content,
    .OrderSummary-shoppingCart__userAccess-content,
    .OrderSummary-shoppingCart__userPayment-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: 25px 0;
        margin: 0 auto;
    }
    
    .OrderSummary-shoppingCart__activeCart-title {
        border-bottom: 1px solid #f5f5f5;
        text-align: left;
        font-weight: Bold;
        font-size: 24px;
        font-family: Montserrat;
        letter-spacing: 0.54px;
        color: #BD2C36;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-shoppingCart__activeCart-description {
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #BD2C36;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-shoppingCart__userAccess-title {
        text-align: left;
        font-weight: Medium;
        font-size: 24px;
        font-family: Poppins;
        letter-spacing: 0.54px;
        color: #757575;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-shoppingCart__userAccess-description {
        border-top: 1px solid #f5f5f5;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Poppins;
        letter-spacing: 0.36px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-shoppingCart__userPayment-title {
        text-align: left;
        font-weight: Medium;
        font-size: 24px;
        font-family: Poppins;
        letter-spacing: 0.54px;
        color: #757575;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-shoppingCart__userPayment-description {
        border-top: 1px solid #f5f5f5;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Poppins;
        letter-spacing: 0.36px;
        color: #424242;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-content {
        display: grid;
        grid-template-columns: 8fr 3fr;
        border-right: 10px solid #f5f5f5;
    }
    
    .OrderSummary-content__shoppingBasket {
        display: flex;
        flex-direction: column;
        border-right: 25px solid #f5f5f5;
        border-bottom: 25px solid #f5f5f5;
    }

    .OrderSummary-content__shoppingBasket-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .OrderSummary-content__shoppingBasket-title {
        border-bottom: 1px solid #f5f5f5;
        text-align: left;
        font-weight: Bold;
        font-size: 24px;
        font-family: Montserrat;
        letter-spacing: 0.58px;
        color: #424242;
        opacity: 1;
        margin: 0;
        padding: 10px 20px;
    }
    
    .OrderSummary-content__shoppingBasket-title > span {
        text-align: left;
        font-weight: Medium;
        font-size: 12px;
        font-family: Poppins;
        letter-spacing: 0.43px;
        color: #424242;
        opacity: 1;
    }
    
    .OrderSummary-content__shoppingBasket-items {
        display: flex;
        flex-direction: column;
    }
    
    .OrderSummary-content__shoppingBasket-item {
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        border-bottom: 1px solid #f5f5f5;
        padding: 45px 25px;
    }

    .OrderSummary-content__shoppingBasket-item:nth-last-child(-n + 1) {
        border-bottom: none;
    }
    
    .OrderSummary-content__shoppingBasket-item-title {
        text-align: left;
        font-weight: Bold;
        font-size: 20px;
        font-family: Montserrat;
        letter-spacing: 0.47px;
        color: #000000;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-content__shoppingBasket-item-quantity {
        text-align: left;
        font-weight: Bold;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0px;
        color: #bd2c36;
        opacity: 1;
        margin: 0;
    }
    
    .OrderSummary-content__shoppingBasket-item-price {
        text-align: left;
        font-weight: Bold;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.4px;
        color: #BD2C36;
        opacity: 1;
        margin: 0;
    }

    .OrderSummary-content__shoppingBasket-item-variations {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .OrderSummary-content__shoppingBasket-item-quantityVariation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .OrderSummary-content__shoppingBasket-item-decreaseButton {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border-radius: 10px 0 0 10px;
        background: #bd2c36 0% 0% no-repeat padding-box;
        color: #ffffff;
        opacity: 1;
    }
    
    .OrderSummary-content__shoppingBasket-item-inputValue {
        outline: none;
        border: none;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 4px #0000001F;
        opacity: 1;
        max-width: 40px;
        text-align: center;
    }
    
    .OrderSummary-content__shoppingBasket-item-increaseButton {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border-radius: 0 10px 10px 0;
        background: #bd2c36 0% 0% no-repeat padding-box;
        color: #ffffff;
        opacity: 1;
    }
    
    .OrderSummary-content__shoppingBasket-item-linkToRemove {
        text-align: left;
        font-weight: Medium;
        font-size: 20px/26px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #E53935;
        opacity: 1;
        text-decoration: none;
        margin: 0;
    }
    
    .OrderSummary-content__shoppingDetails {
        display: flex;
        flex-direction: column;
        border-bottom: 25px solid #f5f5f5;
    }

    .OrderSummary-content__priceDetails-content {
        padding: 25px 0;
    }
    
    .OrderSummary-content__priceDetails-title {
        border-bottom: 1px solid #f5f5f5;
        text-align: left;
        font-weight: Bold;
        font-size: 24px;
        font-family: Montserrat;
        letter-spacing: 0.5px;
        color: #000000;
        opacity: 1;
        margin: 0;
        padding: 10px 20px;
    }
    
    .OrderSummary-content__priceDetails-priceTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        font-weight: Bold;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #000000;
        opacity: 1;
        margin: 0;
        padding: 0 0 0 20px;
    }
    
    .OrderSummary-content__priceDetails-taxesTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #000000;
        opacity: 1;
        margin: 0;
        padding: 0 0 0 20px;
    }
    
    .OrderSummary-content__priceDetails-deliveryTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #000000;
        opacity: 1;
        margin: 0;
        padding: 0 0 0 20px;
    }
    
    .OrderSummary-content__priceDetails-priceValue {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
        font-weight: Medium;
        font-size: 16px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #000000;
        opacity: 1;
        margin: 0;
        padding: 0 20px 0 0;
    }
    
    .OrderSummary-content__priceDetails-taxesValue {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #000000;
        opacity: 1;
        margin: 0;
        padding: 0 20px 0 0;
    }
    
    .OrderSummary-content__priceDetails-deliveryValue {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
        font-weight: Medium;
        font-size: 14px;
        font-family: Montserrat;
        letter-spacing: 0.36px;
        color: #4CAF50;
        opacity: 1;
        margin: 0;
        padding: 0 20px 0 0;
    }
    
    .OrderSummary-content__priceDetails-content {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        border-bottom: 1px solid #f5f5f5;
    }
    
    .OrderSummary-content__priceDetails-price,
    .OrderSummary-content__priceDetails-taxes,
    .OrderSummary-content__priceDetails-delivery,
    .OrderSummary-content__priceDetails-total {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .OrderSummary-content__priceDetails-total {
        border-bottom: 25px solid #f5f5f5;
        padding: 0 20px;
    }
    
    .OrderSummary-content__proceedToPaymentButton {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        width: -webkit-fill-available;
        background: #bd2c36 0% 0% no-repeat padding-box;
        opacity: 1;
        text-align: left;
        font-weight: Bold;
        font-size: 20px;
        font-family: Montserrat;
        letter-spacing: 0.51px;
        color: #FFFFFF;
        opacity: 1;
        padding: 10px;
        border-bottom: 25px solid #f5f5f5;
    }
    
    .OrderSummary-content__proceedToPaymentButton > i {
        margin-left: 20px;
    }
    
    .OrderSummary-content__priceDetails-totalTitle {
        text-align: left;
        font-weight: Bold;
        font-size: 20px;
        font-family: Montserrat;
        letter-spacing: 0.43px;
        color: #000000;
        opacity: 1;
    }
    
    .OrderSummary-content__priceDetails-totalValue {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
        font-weight: Bold;
        font-size: 12px;
        font-family: Montserrat;
        color: #000000;
        opacity: 1;
    }

    .OrderSummary-content__advertisement > img {
        height: 350px;
    }
} 
